<%- include('components/header'); -%>

    <header>
        <div>

        </div>
        <div class="headings">
            <h1>This is our homepage</h1>


        </div>
    </header>


    <%- include('components/footer'); -%>