<%- include('components/header'); -%>

    <a href="/allquestions">Back</a>
    <h1>Ask a new Question</h1>
    <form class='qform' method="POST" action="/new/question/<%= user._id %>">
        <label for="title">Question:</label>
        <input class="qinput" type="text" id="title" name="title" required minlength="10">
        <br>
        <label for="text">Description:</label>
        <textarea class="qtextarea" id="text" name="text" required minlength="10"></textarea>
        <br>
        <button id="start-btn">Start voice recognition</button>
        <p id="instructions">Press the start button</p>
        <input class="qinputbtn" type="submit" value="Submit">
    </form>
    <div>
        <h1>Or ask our virtual Assistant!</h1>
        <div>
            <div>
                Chat History
            </div>
            <ul id="chat-history">
            </ul>

        </div>
        <div class="input-group">
            <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>&nbspYou
            </span>
            <textarea id="user-input" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="text-center">
            <button id="submit" type="button">Submit Question</button>
            <div id="spinner" role="status">
            </div>
        </div>
    </div>


    <%- include('components/footer'); -%>